.pass-heading {
    border: 2px solid black;
    border-radius: 0.15em;
    background: linear-gradient(271.72deg, #000000 7.09%, #2d88f0 96.61%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-area {
    margin-top: 7em;
}

.sidebar-list li {
    list-style: none;
    font-size: large;
}

.label_value{
    font-size: 0.8rem;
    color: red;
}


form > label .label_value {
    color: green;
}

.copy_email, .copy_password{
    cursor: copy;
}